Dear {{ user.username }},
<br><br>
A request for a password reset for the email address {{ email }} was made.
Follow the link below:<br>
<a href = "{{ protocol }}://{{ domain }}{% url 'password_reset_update_url' uidb64=uid token=token %}">
    {{ protocol }}://{{ domain }}{% url 'password_reset_update_url' uidb64=uid token=token %}
</a>
<br><br>
If you've received this mail in error, it's likely that another user entered
your email address by mistake while trying to reset a password. If you didn't
initiate the request, kindly disregard this email.
<br><br>
Best Regards,
<br><br>
TSMC Talk Talk Dev Team