{% extends 'base.html' %}

{% block title %} {{ topic.subject}} {% endblock %}

{% block breadcrumb_navigation %} 
	<a href="{% url 'home_url' %}" class="w3-bar-item w3-button w3 w3-round-large" >Boards</a>
	<span class="w3-bar-item">/</span>
	<a href="{% url 'board_topics_url' board.id %}" class="w3-bar-item w3-button w3-round-large" >{{ board.name }}</a>
	<span class="w3-bar-item">/</span>
	<a href="{% url 'topic_page_url' board_id=board.id topic_id=topic.id %}" class="w3-bar-item w3-button w3-green w3-round-large" >{{ topic.subject }}</a>
	<span class="w3-bar-item">/</span>
{% endblock breadcrumb_navigation %}

{% block content %}

	{% if not topic.is_closed %}
	<a href="{% url 'topic_reply_url' board_id=board.id topic_id=topic.id %}" class="w3-button w3-green w3-round-large w3-wide" >Reply</a>
	<!--  board_id就是對應函數的參數，要根據函數不同去換	-->
	<a href="{% url 'closetopic' board_id=board.id topic_id=topic.id %}" class="w3-button w3-green w3-round-large w3-wide" >Close the topic</a>
	{% else %}
	<p style="color:white;">Read only</p>
	<a href="{% url 'opentopic' board_id=board.id topic_id=topic.id %}" class="w3-button w3-green w3-round-large w3-wide" >Open the topic</a>
	{% endif %}

	{% for post in posts %}
		{% include 'posttemplate_topicpage.html' %}
	{% endfor %}
{% endblock content %}
